target
.bloop
.metals
data/20190906
data/20190909
data/afrinic
data/apnic
data/arin
data/iana
data/jeff
data/lacnic
data/ripencc
result/check
result/combined-stat
result/reference-stat
compare/combine_nocc
compare/difference_nocc
compare/jeff_nocc
