<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{0} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>nro-stats.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{0} %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>nro-stats.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ERRORFILE" class="ch.qos.logback.core.FileAppender">
        <file>nro-stats.err</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
       <encoder>
            <pattern>%date %level [%thread] %logger{0} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE" />
<!--        <appender-ref ref="FILE" />-->
<!--        <appender-ref ref="ERRORFILE" />-->
    </root>
</configuration>
